
* {
    box-sizing: border-box;
  }
  
body{
    font-family: 'Courier New', Courier, monospace;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    width: 400px;
    background: #fff;
    border-radius: 25px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

.scrollStuff{
  overflow-y: scroll;
  height: 237px;
  padding: 10px;
}

 
  ul {
    margin: 0;
    padding: 0;
  }
  

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #f77f00;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
    list-style: none;
    border-radius: 25px;
    margin-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
 
  ul li:nth-child(odd) {
    background-color:#d62828;
  }
  
  
  ul li:hover {
    background: #eae2b7;
    color: #000;
  }
  
  
  ul li.checked {
    background: #003049;
    color: #fff;
    text-decoration: line-through;
  }
  
  
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  .cerrar {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    transition: 0.3s;
    border-radius: 25px;
  }
  
  .cerrar:hover {
    background-color:#fcbf49;
    color: #000;
  }
  
  .header {
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input {
    border: none;
    padding: 10px;
    border-radius: 25px;
    width: 73%;
    border: 1px solid #d62828;
    text-align: center;
  }
  
  .addBtn {
    padding: 10px;
    background: #003049;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
  }
  
  .addBtn:hover {
    background-color: #f77f00;
    color: #000;
  }

  