.projects {
  background-color: #f5f5f5;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  margin: 0 auto;
  max-width: 1300px;
}