.line-1 { 
    position: relative;
    top: 50%;  
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
  
.typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;    
}

@keyframes typewriter {
    from{width: 0;}
    to{width: 22em;}
} 

@keyframes blinkTextCursor {
    from{border-right-color: rgba(74, 112, 238, 0.75);}
    to{border-right-color: transparent;}
}
