@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    padding: 10px;
    width: 400px;
    background: violet;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    text-align: center;
}

.text{
    padding: 10px;
}

button{
    cursor: pointer;
    transition: .3s;
}

.line-1 { 
    position: relative;
    top: 50%;  
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
  
.typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;    
}

@keyframes typewriter {
    from{width: 0;}
    to{width: 22em;}
} 

@keyframes blinkTextCursor {
    from{border-right-color: rgba(74, 112, 238, 0.75);}
    to{border-right-color: transparent;}
}
