@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
	font-family: "Raleway", Sans-serif;
	font-size: 62.5%; /*1 em = 10px */
	margin: 0;
}

.contenedor{
   width: 300px;
   background: #1687a7;
   padding: 10px;
   border-radius: 5px;
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
}

.love{
   border-radius: 5px;
   border: none;
   background: #fff;
   color: rgb(40, 13, 156);
   padding: 10px;
}

#color-display{
   font-size: 3em;
   text-align: center;
   border-radius: 5px;
   border: none;
   outline: none;
}

.squares{
   display: flex;
   flex-wrap: wrap;
   
}

.square {
   width: 40px;
   height: 40px;
   border-radius: 5px;
	background-color: purple;
   transition: background .5s;
   margin: 50px auto;
   cursor: pointer;
} 

#stripe {
	text-align: center;
   color: black;
   display: flex;
}

#message {
   text-align: center;
	text-transform: uppercase;
   font-size: 1.5em;
   background: #00e5ff;
   width: 300px;
   border-radius: 5px;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 15%;
   left: 50%;
   padding: 10px;
   display: none;
   transition: .4s;
   animation: crazyEffect 1s;
}
	
button {
   outline: none;
   border-radius: 5px;
	font-family: "Raleway", Sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
   margin: 10px;
   transition: all 0.3s;
   padding: 10px;
   cursor: pointer;
   border: none;
}

button:hover {
	background-color: #00f7ff;
	
}

.selected {
	background-color: #00ff00;
}


@keyframes crazyEffect{
   0%{
      opacity: 0;
   }

}


