*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.contenedor{
  background: #DA0D6D;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

h1{
  text-align: center;
  padding: 10px;
}

.tip-wrap{
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.txt{
  margin: 10px 0px;
  font-size: 1.3em;
  text-align: center;
}

.tip{
  margin: 10px 0px;
  text-align: center;
  
}

input{
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: 1em;
}

.servicio{
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px 0px;
  width: 100%;
}

.service option{
  border-radius: 5px;
}

#calcular{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #2749D5;
  color: #fff;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
  transition: .3s;
}

#calcular:hover{

}

