@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

/* ------- variables ---------- */

:root{
    --color-primario: #3C474B;
    --color-secundario: #8338EC;
    --color-de-fondo: #fff;
}

/* ------- variables ---------- */

/* ------- estilos principales ---------- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'STIX Two Math', serif;
    background: var(--color-de-fondo);
}

h1{
    text-align: center;
    color: var(--color-primario);
    padding: 20px;
}

p{
    text-align: center;
    color: var(--color-primario);
    padding: 20px;
}

a{
    color: var(--color-secundario);
    text-decoration: none;
}

ol{
    margin: 20px auto;
    font-size: 1.3em;
    color: var(--color-primario);
    width: 700px;
}

ol li{
    margin: 20px;
    border-bottom: 1px solid rgba(107, 154, 196, 0.2);
    padding: 20px 0px;
}

ol li a{
    text-decoration: none;
    color: var(--color-secundario);
    
}

@media only screen and ( max-width: 768px ){

    ol{
        width: 100%;
    }
 }

/* ------- estilos principales ---------- */

/* ------- estilos generales ---------- */

.coolStyle{
    color: var(--color-secundario);
}

.gitBtn{
    color: var(--color-primario);
    position: absolute;
    top: 20px;
    right: 20px;
}

.donation{
    position: absolute;
    top: 20px;
    left: 20px;
    transition: .3s;
    line-height: 30px;
}

.donation > i{
    color: var(--color-primario);
    font-size: 2em;
    transition: .3s;
}

.love{
    color: #EF8354;
}

.download-manager a{
    color: var(--color-secundario);
    float: right;
    cursor: pointer;
    transition: .3s;
    padding: 5px;
}

.estrellas{
    color: var(--color-primario);
    font-size: .6em;
    position: relative;
    top: -2px;
    margin: 20px;
}

/* ------- estilos generales ---------- */
