#target{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background: rgb(155, 12, 95);
    width: 200px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}


