@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body{
    transition: .3s;
}
        
#body1 {
    letter-spacing:1px;
    background-color: #00d7ff;
    background: linear-gradient(45deg, #00d7ff 0%, #7b00ff 100%);
    background-size:100vw 100vh;
    background-attachment:fixed;
}
    
.name3 {
    text-transform: uppercase;
    font-size:26px;
    color:#FFFFFF;
    font-weight:900;
}
    
.name4 {
    font-size:26px;
    color:#FFFFFF; 
    font-weight:500;
}
        
#input1 {
    padding:10px;
    font-size:16px;
    font-weight:600;
    outline:none;
    margin:6px;
    width:60vw;
    max-width:300px;
    color:white;
    background:#0000;
    border-radius:2px;
    background:#12212222;
    border:none;
}

::placeholder {
    color: #FFF;
    opacity: 1;
}
    
:-ms-input-placeholder {
    color: #FFF;
}
    
::-ms-input-placeholder {
    color: #FFF;
}
        
#button1 {
    background:#12212244;
    border:none;
    width: 100%;
    padding:10px;
    font-size:16px;
    margin:6px;
    font-weight:600;
    outline:none;
    border-radius:2px;
    color:white;
}
    
#div1 {
    font-size:26px;
    padding:20px;
    color:white;
    font-weight:500;
}
    
#div2 {
    font-size:26px;
    display:none;
    text-align:left;
    color:white;
    padding:20px;
    font-weight:500;
}
        
@-webkit-keyframes load {
    20%, 80% {opacity: 1;}
}
    
@keyframes load {
    20%, 80% {opacity: 1;}
}
    
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
    
@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
        
#alert_ {
    display:none;
    font-size:18px;
    font-weight:500;
    opacity:0;
    -webkit-animation: load 2s infinite;
    animation: load 2s infinite;
    -webkit-transition: opacity 600ms;
    transition: opacity 600ms;
}

button{
    cursor: pointer;
}

.btn1 {
    padding:16px;
    border-radius:100px;
    border-top:3px solid white;
    border-right:3px solid #0000;
    border-left:3px solid #0000;
    border-bottom:3px solid white;
    -webkit-animation: spin 4s infinite;
    animation: spin 4s infinite;
    background:#FF4E4E;
    animation-delay: 0s;
}
        
.btn2 {
    padding:16px;
    border-radius:100px;
    border-top:3px solid white;
    border-right:3px solid #0000;
    border-left:3px solid #0000;
    border-bottom:3px solid white;
    -webkit-animation: spin 4s infinite;
    animation: spin 4s infinite;
    background:#5D00FF;
    animation-delay: 4s;
}
    
.btn3 {
    padding:16px;
    border-radius:100px;
    background:#008BFF;
    border-top:3px solid white;
    border-right:3px solid #0000;
    border-left:3px solid #0000;
    border-bottom:3px solid white;
    -webkit-animation: spin 4s infinite;
    animation: spin 4s infinite;
    animation-delay: 8s;
}
        
.back_ {
    background:#12212233;
    padding:10px;
    margin:10px;
    border-radius:4px;
    border:none;
    width:90%;
    color:white;
    font-size:20px;
    font-weight:700;
    line-height:1;
}

.centrarBotones{
    text-align: center;
}

.cajaEntrada{
    background: #12212233;
}

h3{ 
    text-align: center;
}

.contenedor{
    background: #12212233;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

