@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #e9c46a;
}

.container{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 48%;
    left: 50%;
    background: #f1faee;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
}

textarea{
    width: 100%;
    height: 200px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #f77f00;
    line-height: 20px;
}

div{
    margin: 10px 0px;
    font-size: 18px;
}

div span{
    font-weight: bold;
    color: #f77f00;
}

ul{
    overflow-y: scroll;
    height: 100px;
    margin-top: 20px;
    border: 1px solid #f77f00;
    border-radius: 5px;
}

ul li{
    list-style: none;
    padding: 10px 0px;
}

.palabrasClave{
    color: #f77f00;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}