body{
  font-size: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.colapsable {
  background: #ff9a76;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  width: 300px;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  transition: .5s;
}

.colapsable:hover{
  background: #e9744a;
}

.content {
  width: 264px;
  padding: 18px;
  display: none;
  background-color: #679b9b;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}




