*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    font-size: 1.3em;
}

.container{
    background: #3094ff;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

input, button{
    font-family: Verdana;
}

input{
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

button{
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
    width: 100%;
    font-size: 1em;
}

button:hover{
    background: #dc30ff;
    color: #fff;
}

#resultado{
    background: #dc30ff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    text-align: center;
}


