@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://images7.alphacoders.com/342/342282.jpg');
}


h1{
    padding: 10px;
    text-shadow: 3px 3px 1px rgba(0,0,0,0.5);
    background: rgb(96, 33, 155);
    text-align: center;
    color: #fff;
}

.contenedor{
    background: rgb(49, 34, 134);
    padding: 10px;
    width: 400px;
    margin: 130px auto;
    border-radius: 5px;
    color: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

label{
    margin-right: 10px;
}

input{
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: none;
}

.container{
    display: flex;
    margin: 0 auto;
    width: 95%;

}

button{
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 20px 10px;
    outline: none;
    border: none;
    background: rgb(192, 57, 131);
    color: #fff;
    transition: .5s;
}

button:hover{
    background: #fff;
    color: rgb(90, 73, 184);
}

.resultado{
    background: rgb(96, 33, 155);
    color: #fff;
    padding: 10px;
    width: 100%;
    position: relative;
    top: 45px;
    
}

#total-div{
    margin-bottom: 10px;
}