body {  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    font-family: Arial, Helvetica, sans-serif;  
    text-align: justify;  
    height: 100vh;  
    max-width: 800px;  
    margin: 0 auto;  
    background-color: rgb(18, 23, 27);  
    color: aliceblue;  
   }  
   text {  
    font-size: 24px;  
   }  
   .moreText {  
    display: none;  
   }  
   .read-more-btn {  
    padding: 15px 60px;  
    background-color: rgb(149, 170, 197);  
    color: rgb(53, 49, 49);  
    border: none;  
    outline: none;  
    font-size: 20px;  
    cursor: pointer;  
   }  
   .text.show-more .moreText {  
    display: inline;  
   }  
   .text.show-more .dots {  
    display: none;  
   }  