* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	width: 100vw;
	display: flex;
	flex-direction: row;
	background-color: lightgray;
}

p {
	text-transform: uppercase;
	color: black;
	margin-top: 48px;
	border-bottom: 1px solid white;
}

#navlinks li {
	list-style: none;
	margin-top: 32px;
}

#navlinks li a {
	line-height: 16px;
	color: white;
	text-decoration: none;
}

#navlinks li a:hover {
	color: lightskyblue;
}

#menu {
	padding: 8px 16px;
	display: flex;
	flex-direction: column;
	background-color: slategrey;
	width: 320px;
	height: 100%;
	min-height: 100vh;
	transform: translateX(-320px);
	transition: all 0.3s ease-in;
}

#menu.show {
	transform: translateX(0);
}

#menuToggle {
	position: absolute;
	font-size: 2rem;
	background: transparent;
	border: none;
	top: 8px;
	left: 0;
	padding: 0 16px;
}
