* {
    box-sizing: border-box;
  }
  
  body {
  /*   background: #222; */
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
  
  /* -------------
      FORM STYLES 
  ----------------*/
  
  .container {
  }
  
  #tipForm {
    border-radius: 5px;
    box-shadow: 0 0 1px;
    position: absolute;
    left: 40%;
    top: 20%;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding-bottom: 10px;
  }
  
  h1 {
    border-radius: 5px 5px 0 0;
    background-color: #fcba03;
    margin: 0;
    text-align: center;
    padding: 0 20px;
  }
  
  .inputs {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
  }
  
  label {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  #result {
    align-self: center;
    background-color: #eee;
    text-align: center;
    width: 50%;
  }
  
  button {
    border: none;
    border-radius: 5px;
    background: #fcba03;
    display: inline-block;
    text-align: center;
    width: 50%;
  }
  
  button:hover {
    background: #c79200;
  }
  
  #split,
  #bill {
    width: 30%;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
  }
  
  .flex-btn {
    display: flex;
    justify-content: space-around;
  }