body {font-family: Arial, Helvetica, sans-serif;}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(155, 37, 145, 0.4); 
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: .5s;
}

.close:hover,
.close:focus {
  color: rgb(75, 255, 4);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgb(178, 42, 241);
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: rgb(178, 42, 241);
  color: white;
}

#myBtn{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(178, 42, 241);
  background: rgb(178, 42, 241);
  color: #fff;
  cursor: pointer;
  transition: .5s;
}

#myBtn:hover{
  background: #fff;
  border: 1px solid rgb(178, 42, 241);
  color: rgb(178, 42, 241);
}

/* Add Animation */

@keyframes animatetop {
  from {
    top:-300px; 
    opacity:0
}
  
  to {
    top:0; 
    opacity:1}
}