

.flexBox {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%
}

.mathCard {
  background: rgb(28, 207, 133);
  border-radius: 0.25rem;
  padding: 4rem
}

.questionText {
  padding-bottom: 2rem
}

.correctAnswer {
  color: #34a853;
  font-size: 1.5rem
}