@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
  font-family: 'Raleway', sans-serif;
}

.flexBox {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%
}

.mathCard {
  background: #85FF9E;
  border-radius: 0.25rem;
  padding: 2rem;
  text-align: center;
}

.correctAnswer {
  color: #1e5729;
  font-size: 1.5rem
}

input, button{
  border: none;
  outline: none;
}

input{
  padding: 10px;
}

button{
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}

button:hover{
  background: #A6F4DC;
}