@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
  font-family: 'Raleway', sans-serif;
}

.contenedor{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 400px;
}

.mathCard {
  background: #337CA0;
  color: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
  text-align: center;
}

.respuestaCorrecta {
  color: #ffffff;
  font-size: 1.5rem
}

input, button{
  border: none;
  outline: none;
}

input{
  padding: 10px;
}

button{
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}

button:hover{
  background: #E13700;
  color: #fff;
}