@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--mood-color-1: #2d6b5f;
	--mood-color-2: #72e3a6;
	--mood-color-3: #dff4c7;
	--mood-color-4: #edbf98;
	--mood-color-5: #ea3d36;
}

body {
	font-family: 'Muli';
	margin: 40px 0;
}

h2 {
	margin-bottom: 0;
}

h4 {
	font-weight: 100;
	margin: 5px 0 20px;
}

p {
	margin: 5px 0;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
	text-align: center;
}

.moods_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mood {
	background-color: #fff;
	border: 0;
	border-radius: 50%;
	color: #000;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	line-height: 20px;
	padding: 0;
	margin: 0 5px;
	height: 40px;
	width: 40px;
	text-align: center;
}

.mood_1 {
	color: var(--mood-color-1);
}

.mood_2 {
	color: var(--mood-color-2);
}

.mood_3 {
	color: var(--mood-color-3);
}

.mood_4 {
	color: var(--mood-color-4);
}

.mood_5 {
	color: var(--mood-color-5);
}

.mood.selected {
	background-color: currentColor;
}

.mood.selected i {
	color: #fff;
}

.mood:active {
	transform: scale(0.9);
}

.mood:focus {
	outline: 0;
}

.mood i {
	cursor: pointer;
}

.calendar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.months {
	padding: 10px;
	width: 33%;
}

@media screen and (max-width: 756px) {
	.months {
		width: 50%;	
	}
}

@media screen and (max-width: 480px) {
	.months {
		width: 100%;	
	}
}

.months h3 {
	margin: 5px 0;
	text-align: center;
}

.days_container,
.week_days_container {
	display: flex;
	flex-wrap: wrap;
}

.days,
.week_days {
	font-size: 14px;
	margin-bottom: 5px;
	height: calc(100% / 7);
	width: calc(100% / 7);
	text-align: center;
}

.days .circle {
	background-color: #888;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	width: 20px;
	height: 20px;
}

.days .circle:hover {
	transform: scale(1.1);
}

.action_btn {
	border-radius: 10px 0 0 10px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	padding: 8px 12px;
	margin: 0;
	position: fixed;
	right: 0;
	top: 40px;
}

.action_btn:active {
	transform: scale(0.9);
}

.action_btn:focus {
	outline: 0;
}

.randomize {
	background-color: var(--mood-color-2);
}

.clear {
	background-color: #888;
	top: 80px;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {
	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}