
body{
    font-size: 1.3em;
}

#container{
    background: red;
    color: #fff;
    width: 300px;
    border-radius: 5px;
    padding: 20px;
}

button{
    padding: 10px;
    width: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button:hover{
    
}