h1 {  
    font-family: 'Arial', 'Verdana', sans-serif;  
    font-size: 2.5em;  
    font-weight: bold;  
    text-align: center;  
   }  
   header > p {  
    font-family: 'Arial', 'Verdana', sans-serif;  
    text-align: center;  
     font-size: 1.5rem;  
    font-weight: bold;  
   }  
   div {  
    text-align: center;  
    border: 0.1em solid #000;  
   }  
   p{  
     font-size: 1.4rem;  
    font-weight: bold;  
   }  
   body{  
    background: #000;  
     color: #ffff;  
   }  