#display-portfolio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}

#portfolio-table th {
    cursor: pointer;
}

/* Alinea todo en el encabezado de la tabla excepto el que tiene id=coin-name a la derecha */
#portfolio-table th:not(#coin-name) {
    text-align: right;
}

/* Ordena las flechas */
#portfolio-table .arrows-name {
    display: inline-block
}

#portfolio-table .triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #555;
}

#portfolio-table .triangle-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #555;
}

/* Alinea el texto en la celda de la tabla con id=coin-name a la izquierda */
#coin-name {
    text-align: left;
}

/* Selecciona todos los elementos td excepto aquellos que son el primer hijo de algo */
#portfolio-table td:not(:first-child) {
    text-align: right;
}

.cryptoUp {
    color: green;
}

.cryptoDown {
    color: red;
}

#portfolio-table thead, tfoot {
    background-color: #F0F8FF;
    font-weight: bold;
}

#portfolio-table tr:nth-child(even) {
    background-color: #F0F0F0;
}

#portfolio-table {
    margin: 0 auto;
    width: 100%;
}

/* Establece ancho en 70%*/
@media (min-width: 700px) {
    #portfolio-table {
      width: 70%;
    }
}