.container{
    background: rgb(150, 58, 211);
    padding: 10px;
    border-radius: 5px;
    width: 190px;
}

input{
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

button{
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}

button:hover{
    background: rgb(97, 167, 167);
    color: #fff;
}

#resultado{
    background: rgb(119, 42, 170);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 190px;
    display: none;
}






