

.items{
  background: rgb(123, 123, 247);
}

.vaciar{
  border: 1px solid #f30ff3;
  outline: none;
  background: #f30ff3;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: .5s;
}

.vaciar:hover{
  color: #f30ff3;
  background: #fff;
}

.carrito{
  background: rgb(18, 15, 158);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.carrito > ul{
 
}

.carrito > ul li{
  background: red !important;
  color: #fff; 
}
