body{
   background: coral;
   height: 100%;
}
.container{
   width: 800px;
   margin: 130px auto;
   color: #fff;
   text-align: center;
   background: rgb(44, 78, 139);
   width: 300px;
   border-radius: 5px;
   padding: 10px;
   
}

#seconds, #tens, .dots{
   font-size: 2em;
   font-weight: bold;
}
button{
   border-radius: 5px;
   background: rgb(91, 148, 255);
   color: #fff;
   border: 1px solid #fff;
   text-decoration: none;
   cursor: pointer;
   font-size: 1.2em;
   padding: 18px 10px;
   width: 150px;
   margin: 10px;
   outline: none;
   margin-top: 20px;
}
button:hover{
   transition: all 0.5s ease-in-out;
   background: #fff;
   color: coral;
   border: 1px solid #fff;
}
