* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Lato", sans-serif;
}

.numbers {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.counterContainer {
	padding: 0 32px;
}

.counter {
	font-size: 3rem;
	padding: 8px;
}

.fa-facebook-f {
	color: #3b5998;
	margin-bottom: 32px;
}

.fa-youtube {
	color: #ff0000;
	margin-bottom: 32px;
}

.fa-twitter {
	color: #00acee;
	margin-bottom: 32px;
}
