@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    color: #000;
    background: #4F7CAC;
    font-family: 'Quicksand', sans-serif;
}

.contenedor{
    background: #fff;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.name3 {
    text-transform: uppercase;
    font-size: 26px;
    color:#000;
    font-weight: 900;
}
    
.name4 {
    font-size: 26px;
    color:#000; 
    font-weight: 500;
}
        
#input1 {
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 2px;
    border: none;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #3C474B;
}
 
#button1 {
    background:#162521;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 2px;
    color:white;
    transition: .3s;
    cursor: pointer;
}

#button1:hover{
    background:#9EEFE5;
    color: #162521;
}
    
#div1 {
    padding: 20px;
    font-weight: 500;
}
    
#div2 {
    display: none;
    text-align: left;
    padding: 20px;
    font-weight: 500;
    background: #fff;
    color: #000;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}