@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    color: #000;

}

.centrarBotones{
    text-align: center;
}

h3{ 
    text-align: center;
}

.contenedor{
    background: #fff;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#body1 {
    background: #7b00ff;
}
    
.name3 {
    text-transform: uppercase;
    font-size:26px;
    color:#FFFFFF;
    font-weight:900;
}
    
.name4 {
    font-size:26px;
    color:#FFFFFF; 
    font-weight:500;
}
        
#input1 {
    padding:10px;
    font-size:16px;
    outline: none;
    color:#fff;
    border-radius: 2px;
    background:#2fe0ec22;
    border: none;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
 
#button1 {
    background:#00000044;
    border:none;
    width: 100%;
    padding:10px;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:2px;
    color:white;
    transition: .3s;
}

#button1:hover{
    background:#3c7d8144
}
    
#div1 {
    padding:20px;
    font-weight:500;
}
    
#div2 {
    display:none;
    text-align:left;
    padding:20px;
    font-weight:500;
}
        
@-webkit-keyframes load {
    20%, 80% {opacity: 1;}
}
    
@keyframes load {
    20%, 80% {opacity: 1;}
}
    
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
    
@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
        
#alert_ {
    display:none;
    font-size:18px;
    font-weight:500;
    opacity:0;
    -webkit-animation: load 2s infinite;
    animation: load 2s infinite;
    -webkit-transition: opacity 600ms;
    transition: opacity 600ms;
}

button{
    cursor: pointer;
}

.btn1 {
    border-radius:100px;
    border-top:3px solid white;
    border-right:3px solid #0000;
    border-left:3px solid #0000;
    border-bottom:3px solid white;
    -webkit-animation: spin 4s infinite;
    animation: spin 4s infinite;
    background:#FF4E4E;
    animation-delay: 0s;
}
        
.btn2 {
    padding:16px;
    border-radius:100px;
    border-top:3px solid #fff;
    border-right:3px solid #000;
    border-left:3px solid #000;
    border-bottom:3px solid #fff;
    -webkit-animation: spin 4s infinite;
    animation: spin 4s infinite;
    background:#5D00FF;
    animation-delay: 4s;
}
    
.btn3 {
    padding:16px;
    border-radius:100px;
    background:#008BFF;
    border-top:3px solid white;
    border-right:3px solid #0000;
    border-left:3px solid #0000;
    border-bottom:3px solid white;
    -webkit-animation: spin 4s infinite;
    animation: spin 4s infinite;
    animation-delay: 8s;
}
        
.back_ {
    background:#12212233;
    padding:10px;
    border-radius:5px;
    border:none;
    width: 100%;
    color:white;
    font-size:20px;
    font-weight:700;
    line-height:1;
}

