.hero {
  background-color: #f5f5f5;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  flex-basis: 50%;
  padding-right: 50px;
}

.title {
  font-size: 3rem;
  color: #000;
  margin-bottom: 20px;
}

.title span {
  color: #38bbfa;
}

.description {
  font-size: 1.25rem;
  color: #000;
  margin-bottom: 20px;
}

.button {
  background-color: #38bbfa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0077c2;
}

.image img {
  max-width: 100%;
}