@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    padding: 10px;
    width: 400px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: #f0db4f;
}

div #seccionPreguntas ul{
    margin: 0px;
    padding: 0px;
}

.text{
    padding: 10px;
}

button{
    cursor: pointer;
    transition: .3s;
}

.line-1 { 
    position: relative;
    top: 50%;  
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.timer{
    padding: 10px;
}

#seccionPreguntas{
    padding: 10px;
}

ul li{
    list-style-type: none;
    cursor: pointer;
    transition: .3s;
    margin: 10px;
    padding: 10px;
}

ul li:hover{
    background: #323330;
    color: #fff;
}

#answerDiv{
    margin: 10px;
}
  
.typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;    
}

@keyframes typewriter {
    from{width: 0;}
    to{width: 22em;}
} 

@keyframes blinkTextCursor {
    from{border-right-color: rgba(74, 112, 238, 0.75);}
    to{border-right-color: transparent;}
}