@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');  
 html, body, #fg, #bg {  
  width:100%;  
  height:100%;  
  color:#fff;  
  font-size:35px;  
  font-family:'Montserrat', sans-serif;  
  overflow:hidden;  
 }  
 div {  
  position:absolute;  
  top:0;  
 }  
 sub {  
  font-size:12px;  
  display:block;  
 }  
 p {  
  padding:12px;  
 }  