* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	background-color: #f0f0f0;
	line-height: 1.5;
}

.container {
	min-width: 375px;
	max-width: 720px;
	width: 100%;
	padding: 16px;
	margin: 32px auto;
}

.container h1 {
	margin-bottom: 32px;
	color: rgb(0, 153, 255);
}

.accordion-item {
	margin-bottom: 1.5rem;
}

.accordion-header {
	font-weight: 700;
	margin-bottom: 8px;
	display: flex;
	padding: 6px 0;
	justify-content: space-between;
	border-bottom: 1px solid rgb(114, 141, 158);
}

.question-btn {
	font-size: 1.25rem;
	border: none;
	background-color: #f0f0f0;
}

.accordion-body {
	color: rgb(85, 85, 85);
	padding-top: 8px;
}

/* hide text */
.accordion-body {
	display: none;
}
.show-text .accordion-body {
	display: block;
}
.minus-icon {
	display: none;
}
.show-text .minus-icon {
	display: inline;
}
.show-text .plus-icon {
	display: none;
}
