* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.countdown {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
}

.time {
	padding: 0 32px;
	font-size: 32px;
	font-family: "Lato", sans-serif;
}
