* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	max-width: 1800px;
	background-color: #efefef;
	font-family: "Lato", sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	overflow: hidden;
	background-color: #fff;
}

nav h2 {
	color: black;
	margin: 0;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.burger {
	display: none;
}
nav ul li {
	margin: 0 16px;
}

nav ul li a {
	color: #2c405e;
	text-decoration: none;
	position: relative;
}

nav ul li a::after {
	content: "";
	background-color: red;
	height: 2px;
	width: 100%;
	left: 0;
	bottom: -24px;
	opacity: 0;
	position: absolute;
	transition: transform 0.2s ease;
}

nav ul li a:hover::after {
	transform: translateY(-16px);
	opacity: 1;
}

@media (max-width: 480px) {
	nav ul {
		position: fixed;
		top: 60px;
		left: 0;
		background-color: white;
		width: 100%;
		flex-direction: column;
		text-align: center;
		transform: translateX(120%);
		transition: transform 0.4s ease;
	}

	.burger {
		display: block;
		font-size: 28px;
		background-color: transparent;
		border: none;
		color: red;
	}

	nav ul.show {
		transform: translateX(0);
	}

	nav ul li {
		margin: 16px;
	}
}
