/* Created by ♧••Nila••♧ */

/* Created by ♧••Nila••♧ */
/*helped by Sofi*/
body {
    text-align:center;
    color:purple;
    background:linear-gradient(to left, #BB0FE0, #00F5C0);
    margin-top:50px;
}
button{
    color:blue;
    border-radius:50%;
    background-color:deepskyblue;
    border:0px;
    
}
input{
    border:3px solid deepskyblue;
    background-color:lightblue;
    border-radius:20px;
    text-align:center;
}