body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	font-family: "Lato", sans-serif;
}

.progress {
	height: 24px;
	width: 360px;
	border-radius: 20px;
	background-color: #d8d8d8;
}

.progress-done {
	height: 100%;
	width: 0;
	opacity: 0;
	color: white;
	border-radius: 20px;
	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s ease;
}
