* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	background-color: #d6e7ef;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

h1,
h2 {
	margin: 8px;
}

.box {
	color: rgb(51, 51, 51);
	display: flex;
	border-bottom: 1px solid black;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 640px;
	height: 220px;
	margin: 16px;
	opacity: 0;
	transform: translateX(400%);
}

.box:nth-last-of-type(even) {
	transform: translateX(-400%);
}

.box.show {
	transform: translateX(0);
	transition: all 0.5s ease;
	opacity: 1;
}
