* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  *:not(i) {
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(184deg, #8754ff, #8e2de2);
  }
  .container {
    background-color: #d2daff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  }
  .search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #8754ff;
    font-size: 16px;
    background-color: #d2daff;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  }
  .search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #8754ff;
    border: none;
    outline: none;
    color: #fff;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  .result {
    position: relative;
  }
  .result h3 {
    font-size: 30px;
    color: rgb(77, 76, 76);
  }
  .result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  .result button {
    background-color: transparent;
    color: #8754ff;
    border: none;
    outline: none;
    font-size: 18px;
  }
  .result .details {
    display: flex;
    gap: 10px;
    color: rgb(82, 81, 81);
    margin: 5px 0 20px 0;
    font-size: 14px;
  }
  .word-meaning {
    color: #000;
  }
  .word-example {
    color: rgb(82, 81, 81);
    font-style: italic;
    border-left: 5px solid #8754ff;
    padding-left: 20px;
    margin-top: 30px;
  }
  .error {
    margin-top: 80px;
    text-align: center;
  }
  