@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.3em;
}

h2{
    color: #000;
    padding: 30px;
    text-align: center;
    background: #16697a;
    color: #fff;
}

#container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: yellow;
    padding: 20px;
    border-radius: 5px;
}

input{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #000;
}

button{
    padding: 10px;
    outline: none;
    border: none;
    background: #db6400;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

button:hover{
    background: #fff;
    color: #db6400;
}