* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.images {
	background: url("./images/bcg-0.jpg") center/cover no-repeat;
	width: 800px;
	height: 800px;
}
