body{
    margin:0; 
    padding:3px;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Aleo', serif;
}

.contenedor{
    background: #031D44;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#set{
    display: block ;
    position: relative;
    margin: auto;
}

#largo{
   display: inline-block;
   position: relative ;
   margin: 4%; 
   margin-bottom: 2%;
   color:#fff; 
   font-size: 18px;
   text-indent: 40px;
   font-weight: bolder;
   
}

#ver{
    display: inline-block ;
    color:#fff;
    margin: auto; 
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

input[id='password']{
    border: none; width:80%;
    outline: none;
    border-bottom: 5px solid #efefef;
    display: block; 
    position: relative;
    font-size: 27px;
    text-align: center;
    top: 20px;
    margin: 20px auto ;
    user-select: auto;
    font-family: 'Slabo 27px', serif;
    transition-duration: 600ms;
    border-radius: 5px;
}

i{
    font-size: 23px;
    transition-duration: 600ms;
}

#validar0,#validar1,#validar2,#validar3,#validar4{
   display: block;
   position: relative;
   margin: 4%;
   font-size: 18px;
   width: 92%;
   text-align: justify;
   color: rgb(255, 255, 255);
}

span{
    margin: 10px;
}

input:hover{
    border-bottom: 5px solid #D5896F;
}