@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}

.container{
    background: #f030ff;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: .4s;
}

input{
    font-size: 2em;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    width: 95%;
}

button{
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
    font-size: 1em;
    text-align: center;
    width: 100%;
}

button:hover{
    background: rgb(21, 214, 188);
}

#resultado{
    background: rgb(92, 195, 255);
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    display: none;
    font-size: 1em;
    margin: 100px auto;
    text-transform: uppercase;
}


