* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
}

.container {
    width: 350px;
    height: 80vh;
    background: rgba(20,20,20,0.5);
    border-radius: 25px;
    border: 3px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.mainText {
    pointer-events: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
    font-size: 280%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}