* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(31, 39, 48);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.clock {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background-color: white;
	background-image: url("./images/clock_05.png");
	background-size: contain;
	border: 4px solid white;
	position: relative;
}

.clock::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	background-color: black;
	transform: translate(-50%, -50%);
	z-index: 4;
	border-radius: 50%;
}

.hourHand,
.minuteHand,
.secondHand {
	position: absolute;
	width: 100%;
	height: 100%;
}

.secondHand {
	z-index: 3;
}

.minuteHand {
	z-index: 2;
}

.hourHand {
	z-index: 1;
}

.hourHand::before,
.minuteHand::before,
.secondHand::before,
.secondHand::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid white;
	transform: translate(-50%, -100%);
	border-radius: 50px;
}

.secondHand::before {
	background-color: red;
	height: 170px;
	width: 3px;
}

.secondHand::after {
	width: 2px;
	height: 30px;
	background: red;
	transform: translate(-50%, 0);
}

.minuteHand::before {
	width: 6px;
	height: 120px;
	background: #333333;
}

.hourHand::before {
	width: 10px;
	height: 90px;
	background: #333333;
}

.digitalClock {
	position: absolute;
	top: 50%;
	left: 70%;
	z-index: 1;
	font-family: "Lato", sans-serif;
	background: #f3f2f2;
	padding: 2px 6px;
	font-size: 12px;
	transform: translateY(-50%);
	box-shadow: inset 0px 0px 1px 1px #00001A;
	border-radius: 2px;
	text-align: center;
}

