/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/*===== CSS VARIABLES =====*/
:root{
  --first-color: #272a3a;
  --first-color-light: #8a8eaa;
  --first-color-lighten: #f8f8fc;

  --body-font: 'Ubuntu', sans-serif;
  --body-font-cursive: 'Dancing Script', cursive;
  --normal-font-size: 1rem;
  --bigger-font-size: 2.5rem;
}

/*===== MAIN =====*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  background-color: var(--first-color-lighten);
}

.card__title {
  font-size: var(--bigger-font-size);
  font-family: var(--body-font-cursive);
  color: var(--first-color);
  text-align: center;
  margin: 0 0 20px 0;
}
.square {
  width: 30px;
  height: 30px;
  background-color: rgb(108, 166, 247);
  border-radius: 20px;
}

a {
   text-decoration: none;
 }

 /*===== DRAG and DROP =====*/

.drop {
  display: flex;
}
.drop__container {
  display: flex;
  flex-direction: column;
 }

 .drop {
   height: 100vh;
   align-items: center;
   justify-content: center;
 }

 .drop__container {
   height: 30rem;
   width: 22rem;
   padding: 1rem;
   margin: 25px;
   border-radius: 10px;
   box-shadow: 4px 4px 16px #e1e1e1;
 }

 .drop__card, .drop__data {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .drop__data {
   width: 100%;
 }

 .drop__card {
   width: 380px;
   height: 10%;
   justify-content: space-between;
   padding: .75rem 1.25rem .75rem .75rem;
   margin: 10px;
   background-color: var(--first-color-lighten);
   box-shadow: 4px 4px 16px #e1e1e1, -2px -2px 16px #fff;
   border-radius: 1rem;
   cursor: pointer;
 }

 .drop__name {
   margin: 0;
   font-size: var(--normal-font-size);
   color: var(--first-color);
   font-weight: 500;
 }

 .drop__link {
   margin: 0 .375rem;
   color: var(--first-color-light);
   transition: .4s;
   justify-content: space-between;
 }

 .drop__link:hover{
   color: var(--first-color);
 }

 /* Class name for chosen item */
 .sortable-chosen {
   box-shadow: 8px 8px 32px #e1e1e1;
 }
 /* Class name for dragging item */
 .sortable-drag {
   opacity: 0;
 }