* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	background-color: #eee;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.user-form {
	width: 100%;
	max-width: 640px;
}

.user-form input {
	width: 100%;
	display: block;
	background-color: #ffffff;
	border: 1px solid rgb(37, 157, 255);
	border-radius: 50px;
	color: rgb(39, 39, 39);
	padding: 1rem;
	margin-bottom: 2rem;
	font-family: inherit;
	font-size: 1rem;
	position: relative;
	box-shadow: 0 5px 10px rgba(157, 162, 179, 0.05), 0 15px 40px rgba(85, 93, 104, 0.1);
}

.search-btn {
	/* position: absolute;
	top: 0;
	left: 0; */
	order: none;
	background: transparent;
}

ion-icon {
	font-size: 2rem;
	color: rgb(77, 77, 77);
}

.user-form input::placeholder {
	color: #bbb;
	font-family: inherit;
}

.user-form input:focus {
	outline: none;
}

.card {
	max-width: 640px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(157, 162, 179, 0.05), 0 15px 40px rgba(85, 93, 104, 0.1);
	display: flex;
	padding: 3rem;
	margin: 0 1.5rem;
}

.avatar {
	border-radius: 50%;
	border: 10px solid #a4daff;
	height: 180px;
	width: 180px;
}

.user-info {
	color: rgb(39, 39, 39);
	margin-left: 2rem;
}

.user-info h2 {
	margin-top: 0;
}

.user-info ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-top: 8px;
	max-width: 420px;
}

.user-info ul li {
	display: flex;
	align-items: center;
}

.user-info ul li strong {
	font-size: 0.9rem;
	margin-left: 0.5rem;
}

#repos {
	margin-top: 1rem;
}
.repo {
	text-decoration: none;
	color: #fff;
	background-color: #0061cf;
	font-size: 0.7rem;
	padding: 0.25rem 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	display: inline-block;
	border-radius: 50px;
}

@media (max-width: 500px) {
	.card {
		flex-direction: column;
		align-items: center;
	}

	.user-form {
		max-width: 400px;
	}
}
