* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	background-color: #eee;
	font-family: "Lato", sans-serif;
}

.card {
	width: 100%;
	max-width: 420px;
	margin: 1rem;
	border-radius: 16px;
	background-color: white;
	padding: 1.5rem;
}

.temp {
	font-size: 3.5rem;
	padding: 1rem 0;
}

.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
	width: 100%;
}

.description {
	text-transform: capitalize;
}

.flex {
	display: flex;
	align-items: center;
}

button {
	margin: 0.5em;
	border-radius: 50%;
	border: none;
	height: 44px;
	width: 44px;
	outline: none;
	background: #636363;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

button:hover {
	background: #292929;
}

input.search-bar {
	border: none;
	outline: none;
	padding: 0.8rem 1.2rem;
	border-radius: 24px;
	background: #636363;
	color: white;
	font-family: inherit;
	font-size: 1rem;
	width: calc(100% - 56px);
}

ion-icon {
	font-size: 1.5rem;
}

.weather-set {
	display: flex;
	align-items: center;
}
