* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-weight: 300;
    background: linear-gradient(to left, #635bfc, #8ffcf0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 800px;
    margin: 150px auto;
    color: #ffffff;
    text-align: centre;
}

.wrap {
    display: inline-block;
    min-width: 360px;
    min-height: 400px;
    padding: 50px 15px;
    background-color: #fff;
    box-shadow: 0 5px 25px #0000004a;
    border-radius: 8px;
    text-align: center;
}

#timer {
    position: relative;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    font-size: 32px;
    margin: 0 auto;
    background-color: #fff;
}

p {
    font-weight: 400;
    color: gray;
    padding: 30px 0;
}

.option a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

#play, #reset {
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50px;
    color: #fff;
    background: linear-gradient(45deg, #8ffcf0, #635bfc);
    box-shadow: 0 8px 25px #bf5fc045, 0 8px 25px, #ff00ec50;
    transition: all ease 0.1s;
}

#stop {
    padding: 15px 20px;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    background: linear-gradient(45deg, #8ffcf0, #635bfc);
    box-shadow: all ease 0.1s;
}

#play:active, #reset:active, #stop:active {
    transform: scale(0.95);
}

#stop .fa {
    margin-right: 5px;
}

#fa-play {
    padding-left: 5px;
}

.pause .fa-play,
.fa-pause {
    display: none;
}

.pause .fa-pause {
    display: inline-block;
}

/* Circle Animation */
#timer svg {
    position:absolute;
    left: 0;
}

.defaultCircle {
    opacity: 0.3;
}

#animateCircle.addAnimation {
    stroke-dasharray: 770;
    stroke-dashoffset: -770;
    animation: animateCircle 60s linear infinite;
    animation-play-state: paused;
}

@keyframes animateCircle {
    from {
        stroke-dashoffset: 0;
    }
}