@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --red: rgb(229,9,20);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*Background image*/
body {
    position: absolute;
    background: url('images/coding.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
}

/*Background image owner*/
header {
    padding: 10px;
    color: black;
    background-color: white;
    width: 250px;
    opacity: 0.7;
}

h3 {
    font-size: 16px;
    color: black;
}

p {
    margin: 10px auto;
}

/*Logo*/
#logo {
    width: 80px;
    margin-right: 20px;
    font-size: 90px;
    color: 	rgb(204,204,0);
}

.container {
    width: 1300px;
    height: 500px;
    background-color: rgb(210, 210, 210);
    box-shadow: 15px 13px 5px 0px rgba(71, 71, 71, 0.75); 
    margin: 0 20px;
    padding: 10px 10px 20px 10px;
}

/*Header part*/
.container__header {
    display: flex;
}

.container__title {
    margin-top: 5px;
}

/*Navigation bar*/
nav {
    background-color: var(--red);
    text-align: center;
}

li {
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.3s;
}

li:hover {
    padding: 19px;
    border-collapse: collapse;
    border: 1px solid var(--white);
}

.active {
    background-color: var(--white);
    color: var(--red);
}

/*Movie filter system*/
.container__movie-system {
    margin: 10px 0;
    width: 100%;
    height: 420px;
    background: rgb(0, 0, 0);
    color: white;
}

.movie-system__movie-list {
    height: 350px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 0;
}

.movie-list__add-movie {
    grid-column: 1/3;
    height: 50px;
    padding: 10px;
    margin: 10px 10px 0 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: var(--white);
    border: solid 1px var(--white);
    outline: none;
    transition: 0.5s all;
}

.movie-list__add-movie:hover {
    background-color: var(--red);
    border: 1px solid var(--red);
}

.movie-list__empty-item {
    display: block;
    grid-column: 1/3;
    color: gray;
    font-size: 20px;
    height: 250px;
    margin: 10px;
    padding-top: 20px;
    text-align: center;
}

.movie-list__movie-item {
    display: flex;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--white);
    overflow: hidden;
    transition: 0.5s all;
}

.movie-list__movie-item:hover {
    border-color: var(--red);
}

.movie-logo {
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 200px;
    color: var(--red);
}

.movie-description {
    width: 100%;
}

.movie-genre {
    padding: 5px 0;
}

.movie-rating {
    padding: 5px 0;
    color: var(--red);
}

/*Add movie modal box*/
.movie__modal-box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    animation-name: open-modal;
    animation-duration: 1s;
}

.movie__modal-content {
    width: 50%;
    height: 70%;
    margin: 5% auto;
    background-color: var(--black);
    animation-name: open-modal-content;
    animation-duration: 1s;
}

.movie__modal-header {
    background-color: var(--red);
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.movie__add-movie {
    display: flex;
}

.add-movie__genre-image {
    margin: 10px;
    padding: 10% 10px;
    border: 2px solid var(--white);
    width: 80%;
    text-align: center;
    font-size: 30px;
    color: var(--red);
}

.add-movie__input-form {
    margin: 10px 10px 10px 0;
    display: block;
    padding: 0 10px;
    font-size: 16px;
    width: 100%;
}

input[type="text"],
select,
textarea {
    background-color: transparent;
    border: solid 2px var(--white);
    color: var(--white);
    padding: 3px;
    margin: 5px 0;
    width: 100%;
}

select {
    width: 102.5%;
}

textarea {
    resize: none;
    height: 100px;
}

option {
    background-color: var(--black);
}

.trash-icon {
    cursor: pointer;
    transition: 0.5s all;
}

.trash-icon:hover {
    color: var(--red);
}

#add-movie {
    background-color: var(--red);
    color: var(--white);
    border: solid transparent;
    font-size: 20px;
    padding: 5px;
    width: 102.5%;
    cursor: pointer;
}

.close {
    margin: -10px 5px;
    float: right;
    font-size: 40px;
    cursor: pointer;
}

@keyframes open-modal {
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes open-modal-content {
    from{opacity: 0; margin: 0 auto} 
    to{opacity: 1; margin: 5% auto}
}
