* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
	font-family: "Lato", sans-serif;
}

.header {
	border-bottom: 1px solid black;
	margin-bottom: 32px;
}

h2 {
	margin-bottom: 12px;
	text-transform: uppercase;
}

.counter {
	font-size: 5rem;
}

.buttons {
	margin-top: 32px;
	border-top: 1px solid black;
}

.btn {
	padding: 8px 16px;
	font-size: 16px;
	border: none;
	border-radius: 32px;
	margin: 32px 12px 0 0;
	color: white;
}

#start {
	background-color: rgba(16, 151, 16, 0.877);
}

#start:hover {
	background-color: rgba(8, 92, 8, 0.877);
}

#stop {
	background-color: rgba(230, 0, 0, 0.877);
}

#stop:hover {
	background-color: rgba(172, 0, 0, 0.877);
}

#reset {
	background-color: rgba(255, 166, 0, 0.877);
}

#reset:hover {
	background-color: rgba(170, 111, 0, 0.877);
}
