:root {
	--border-color: #e3e5e4;
	--background-color: #eee;
	--text-color: midnightblue;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
	height: 100vh;
}

.draggable-list {
	border: 1px solid var(--border-color);
	color: var(--text-color);
	list-style-type: none;
	margin-top: 1.25rem;
}

.draggable-list li {
	background-color: white;
	display: flex;
	flex: 1;
}

.draggable-list li:not(:last-of-type) {
	border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
	background-color: midnightblue;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	height: 52px;
	width: 52px;
}

.draggable-list li.over .draggable {
	background-color: #eaeaea;
}

.draggable-list .person-name {
	margin: 0 20px 0 0;
}

.draggable-list li.right .person-name {
	color: green;
}

.draggable-list li.wrong .person-name {
	color: rgb(224, 0, 0);
}

.draggable {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	flex: 1;
}

.check-btn {
	background-color: rgb(48, 48, 56);
	border: none;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	padding: 8px 16px;
	margin-top: 1rem;
}

.check-btn:active {
	transform: scale(0.98);
}

.check-btn:focus {
	outline: none;
}
