.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f6f6f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    margin-right: 10px;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .nav a {
    text-decoration: none;
    color: #333;
  }
  