* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	font-family: "Lato", sans-serif;
	background-color: #eee;
}

.container {
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(48, 75, 151, 0.2);
	overflow: hidden;
	width: 320px;
}

.sub-title {
	display: inline-block;
	margin: 6px 0;
	opacity: 0.9;
}

.header {
	background-color: rgb(65, 75, 87);
	color: white;
	padding: 2rem 1rem;
}

.header input {
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
	border-radius: 48px;
	color: #fff;
	width: 100%;
	padding: 8px 16px;
	font-size: 14px;
}

.header input:focus {
	outline: none;
}

.user-list {
	background-color: #fff;
	list-style-type: none;
	max-height: 560px;
	height: 520px;
	overflow-y: auto;
}

.user-list li {
	display: flex;
	padding: 16px;
	align-items: center;
}

.user-list img {
	border-radius: 50%;
	object-fit: cover;
	width: 52px;
	height: 52px;
}

.user-list .user-info {
	margin-left: 16px;
}

.user-list .user-info p {
	font-size: 14px;
	color: grey;
}

.user-list li:not(:last-of-type) {
	border-bottom: 1px solid #eee;
}

.user-list li.hide {
	display: none;
}
