@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.contenedor{
    width: 400px;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgb(255, 73, 104);
    padding: 10px;
    border-radius: 5px;
}

.contenedor__flex {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#entrada{
    margin: 20px;
    outline: none;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

button{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
}

#resultado{
    background: pink;
    width: 400px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 25%;
    left: 50%;
    padding: 10px;
    text-align: center;
    display: none;
    transition: .3s;
    font-size: 1.5em;
}