* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	background-color: midnightblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	line-height: 1.5;
}

h1 {
	color: white;
}

.numbers {
	margin-top: 1rem;
	background-color: rgb(78, 134, 255);
	padding: 1rem;
	border-radius: 4px;
	width: 480px;
}

.numbers .numbers-fact {
	width: 100%;
	height: 150px;
	border-radius: 4px;
	padding: 1rem;
	background-color: white;
	margin-bottom: 2rem;
}

.numbers .numbers-input {
	display: flex;
	justify-content: space-between;
}

.numbers-input .btn {
	padding: 0.5rem 1rem;
	background-color: rgb(3, 39, 145);
	color: white;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 4px;
}

.numbers-input .btn:hover {
	background-color: rgb(0, 19, 77);
	transform: scale(0.95);
}

input {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	outline: none;
	border: none;
	border-radius: 4px;
}
