* {
    background-color: black;
}

/* Global */
html {
    /* min-height: 100%; */
    overflow: hidden;
}

body {
    color: rgba(255,255,255,.75);
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;  
}

.line-1 { 
    position: relative;
    top: 50%;  
    width: 18em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 220%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   
    background-color: transparent; 
}
  
/* Animation */
.typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;    
}

@keyframes typewriter {
    from{width: 0;}
    to{width: 22em;}
} 

@keyframes blinkTextCursor {
    from{border-right-color: rgba(74, 112, 238, 0.75);}
    to{border-right-color: transparent;}
}
 
body, .jumbotron {
    background-color: black;
    align-items: center;
}

.quiz {
    width: 900px;
}
    
ul, li, h1, p, div {
    color: white;
    background-color: black;
}

ul, li {
    text-align: center;
    list-style-type: none;
    background-color: black;
}

.card-body, p.text {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 1.5rem;
    text-shadow: 2px 2px black;
    font-family: sans-serif;
}

.btn {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    color: #FFFFFF;
    cursor: pointer;
}

/* Intro section styling */
#quizIntro {
    padding-top: 70px;
}

/* Questions section styling */
ul, div#questionsSection {
    align-items: center;
    text-align: center; 
    background-color: black;
    color: white;
    font-size: 1.25em; 
    cursor: pointer;
    outline: none !important;
    border-color: #000000;
}

ul, div#questionsSection::after {
    padding-top: 140px;
}

#answerDiv {
    padding-top: 5px;
    text-align: center;
}

#scoresRow {
    padding-top: 100px;
}

/* JS created elements styling */
#h1El {
    padding-top: 140px;
    text-align: center;  
    color: cornflowerblue; 
}

#pEl {
    padding-top: 60px;
    text-align: center;
}

#pEl2 {
    text-align: center;
}

#h2El {
    padding-top: 90px;
    color: cornflowerblue;
    text-align: center;
} 

#enterInitials, input#Initials {
    text-align: center;
    background-color: black;
    color: white;
    outline: none !important;
}

ul#highScoresUl, ul#questionsUl {
    padding-top: 0px;
    text-align: center;
    align-items: center;
}

#initials {
    text-align: center;
    background-color: white;
    width: 60px;
}

#submit {
    margin-left: 10px;
    margin-bottom: 4px;
  }

#home {
    margin-bottom: 80px;
    margin-top: 120px;
}

.onomatopoetica {
    color: cornflowerblue;
}
  
#content-wrap {
    padding-bottom: .5rem; /* Footer height */
}
  
#footer, .madeWithLove {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
    background-color: transparent;
    color: cornflowerblue;
    text-align: center;            
}

/* Smaller screens */
@media (max-width: 1050px) {
    div.hometimer {
        font-size: .85;
    }
    
    .typewriter {
        font-size: 1rem;
    }
    
    img.quiz {
        width: 350px;
    }
   
    .card-body, p.text {
        background-color: transparent;
        color: #FFFFFF;
        text-shadow: 1px 1px black;
        font-size: .85rem;
        padding: none;
        margin: none;
    }
 
    .luck {
        font-size: 1rem;
        text-shadow: 1px 1px black;
    }

    ul, div#questionsSection {
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        align-items: center;
    }
     
    .madeWithLove {
        font-size: .55rem;
        font-family: 'Courier New', Courier, monospace;
    }
}

