@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    font-family: 'Lato', sans-serif;
}

#seccionPreguntas{
    background: yellow;
    color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 10px;
    text-align: center;
    width: 400px;
}

#seccionPreguntas ul li{
    background: black;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

#seccionPreguntas ul li:hover{
    background: #333;
}

#elementoH2{
    text-align: center;
}

#iniciales{
    font-weight: bold;
}

input#iniciales{
    padding: 10px;
    margin-right: 10px;
}

button#submit.btn.btn-light{
    padding: 10px;
}

#divRespuesta{
    margin: 20px;
}

.timer{
    padding: 10px;
    font-size: 2em;
}

.start-btn{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li{
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}

#ulPuntajesAltos{
    background: yellow;
    position: absolute;
    width: 400px;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    height: 100px;
    overflow-y: scroll;
    display: none;
}