* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

h1 {
    width: 100%;
    font-size: 3.8em;
    padding: 3%;
    text-align: center;
}

#scoreBox, #timeBox {
    width: 100%;
    display: inline-flexbox;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    /* padding-bottom: 1%; */
}

label {
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    text-align: justify;
    margin-left: 30%;
}

#time, #difficulty {
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    text-align: justify;
}

#start_btn {
    width: 120px;
    margin-left: 45%;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 6px;
}

.grid {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    touch-action: pinch-zoom;
}