* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #7bdaf3;
}

.add {
	position: fixed;
	top: 1rem;
	right: 1rem;
	background-color: #9ec862;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.note {
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 32px 16px;
	height: 400px;
	width: 340px;
}

.note .tools {
	background-color: #9ec862;
	display: flex;
	justify-content: flex-end;
	padding: 0.5rem;
}

.note .tools button {
	border: none;
	color: white;
	margin-left: 0.5rem;
	background-color: transparent;
	font-size: 1rem;
	font-size: 1rem;
}

.note textarea {
	outline: none;
	border: none;
	font-family: inherit;
	font-size: 1rem;
	height: 400px;
	width: 100%;
	padding: 24px;
}

.main {
	padding: 16px;
}

.hidden {
	display: none;
}
