body {  
    margin: 0;  
    height: 100vh;  
    background-image: radial-gradient(#e0dada,#dcefb6);  
    font-family: Arial, sans-serif;  
}  
.box {  
    position: fixed;  
    top: 35%;  
    left: 40%;  
    background: #eee;  
    box-shadow: #999 0px 8px 20px 0px;  
    width: 200px;  
    height: 200px;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    user-select: none;  
}  