@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
   font-family: 'Monserrat, sans-serif';
   
    
}

.contenedor{
   
}

canvas {
    border: 2px solid rebeccapurple;
}

.toolbox {
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    display: flex;
    padding: 1rem;
    width: 804px;
}

.toolbox > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
    height: 50px;
    width: 50px;
}

.toolbox > *:last-child {
    margin-left: auto;
}
