* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	height: 100vh;
	place-items: center;
	background-color: #eee;
}

.row {
	display: flex;
}

.side {
	width: 16.6%;
	padding: 0 8px;
}

.main {
	width: 84.4%;
	padding: 0 8px;
}

.items {
	border: 1px solid rgb(207, 207, 207);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	margin-bottom: 8px;
}

.items.active {
	border: 1px solid rgb(255, 0, 0);
	background-color: white;
}

.items img {
	width: 100px;
	height: 100px;
	border-radius: 4px;
	padding: 4px;
}

.carousel {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid rgb(207, 207, 207);
	border-radius: 4px;
}

.slides-container {
	display: flex;
	width: 580px;
	height: 580px;
	transition: all 0.3s ease-in-out;
}

.slides-container img {
	width: 580px;
	height: 580px;
}

#nextBtn,
#prevBtn {
	position: absolute;
	top: 50%;
	padding: 8px;
	font-size: 1.5rem;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 1;
}

#nextBtn {
	right: 0;
}
