body{
    background: rgb(6, 6, 6);
}

h1{
    font-family: 'Lakki Reddy', cursive;
    text-shadow: 4px 4px 10px orange;
    text-align: center;
}

form{
    border-radius: 20px;
    padding: 1.5rem;
    border: 1px solid orange;
    background: #fbf4e0;
    box-shadow: 7px 14px 20px hsl(0 0% 0% / 20%);
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.button {
    width: 100%;
    height: 4vh;
    outline: none;
    border: none;
    color: white;
    background: orangered;
    font-family: inherit;
    font-size: inherit;
    border-radius: 1rem;
    cursor: pointer;
}
  
#name-tag {
    width: 340px;
    border: 2px solid orange;
    background: #fbf4e0;
    box-shadow: 7px 14px 20px hsl(0 0% 0% / 20%);
    display: none;
    text-align: center;
    float: right;
}

.signup__field{
    padding: 10px;
}

.label{
    padding-bottom: 5px;
}

input[type="text"]{
    width: 306px;
}

#costume_type{
    margin-top: 5px;
}