.container{
    background: #3094ff;
    padding: 10px;
    border-radius: 5px;
    width: 190px;
}

input{
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

button{
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}

button:hover{
    background: #5dabff;
}

#resultado{
    background: #3094ff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 190px;
    display: none;
}


