* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: midnightblue;
	font-family: "Avenir", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	color: white;
	padding: 0 16px;
	text-align: center;
}

div {
	position: absolute;
	bottom: 24px;
	background: rgb(173 216 230/0.2);
	padding: 8px 16px;
	font-size: 16px;
}

input {
	width: 64px;
	padding: 4px;
	font-size: 16px;
	background-color: midnightblue;
	border: none;
	text-align: center;
	color: white;
}

input:focus {
	outline: none;
}
