@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
    font-family: sans-serif;
    background: #FABC2A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background: #F2EDEB;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

select{
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
}

option{
    padding: 10px;
}

.header {
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
}

.title{
    padding: 10px;
}

.txt{
    padding: 10px;
    text-align: justify;
}

.subtitle{
    font-size: 1em;
    padding: 10px;
}


.breed-container {
    margin-top: 1rem;
}

.breeds {
    padding: 5px 10px;
    font-size: 1rem;
}

.slideshow img{
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    height: 350px;
    width: 100%;
    display: block;
}

.slideshow p {
    text-align: center;
}

.loading{
    padding: 10px;
}