body {  
    font-family: 'Ubuntu', sans-serif;  
    background:#fafafa;  
   }  
   #coin {  
    margin-bottom:100px;   
   }  
   #button {  
    background:#64ffda;  
    color:#111;  
    padding:10px 20px;  
    border-radius:2px;  
    display:inline-block;  
    transition:0.5s;  
    cursor:pointer;  
     font-size: 23px;  
    margin-bottom: 30px;  
    box-shadow: 1px 1px 8px #DCDCDC;  
    &:hover {  
     opacity:0.5;  
    }  
   }  
   .animate-coin {  
    animation: flip 1.4s 1;  
   }  
   @keyframes flip {  
    0% {  
     transform: scale3d(1,1,1) rotateX(0deg);  
    }  
    50% {  
     transform: scale3d(2,2,2) rotateX(3600deg);  
    }  
    100% {  
     transform: scale3d(1,1,1) rotateX(7200deg);  
    }  
   }  
   /* Centralise content */  
   .container {  
    width:80%;  
    margin:200px auto;  
    text-align:Center;  
   }  
   img {  
    max-width:100%;  
   }  
   #tailsCounter span, #headsCounter span {  
    color:#6ab344;  
   }   
   #result {  
    color:#6ab344;  
   }  