* {
  box-sizing: border-box;
}

body{
  background: rgb(65, 87, 212);
}

.contenedor {
  width: 500px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

img{
  border-radius: 5px;
  height: 300px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


