* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2c2f57;
	font-family: "Avenir", sans-serif;
	min-height: 100vh;
}

header {
	font-size: 1.25rem;
	color: white;
}

header,
form {
	/* min-height: 16vh; */
	min-width: 540px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

form input,
form button {
	padding: 0.5rem;
	font-size: 1.25rem;
	border: none;
	background: white;
}

form {
	max-width: 540px;
	width: 100%;
}

form button {
	color: white;
	cursor: pointer;
	background: slategray;
}

form input {
	padding: 0.5rem 6rem;
}

form button:hover {
	background: rgb(72, 84, 95);
}

.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
}

.todo-list {
	min-width: 40%;
	list-style: none;
}

.todo {
	margin: 0.5rem;
	color: black;
	background: white;
	font-size: 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.25s ease-in;
}

.todo li {
	flex: 1;
}

.trash-btn,
.complete-btn {
	background: #ff6f47;
	padding: 1rem;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1rem;
}

.complete-btn {
	background-color: rgb(3, 187, 95);
}

.todo-item {
	padding: 0 0.5rem;
}

.trash-outline,
.check-outline {
	pointer-events: none;
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

.slide {
	transform: translateX(8rem);
	opacity: 0;
}

/*CUSTOM SELECTOR */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background-image: none;
}

/* Custom Select */
.select {
	margin: 1rem;
	position: relative;
	overflow: hidden;
}
select {
	color: #ff6f47;
	font-family: "Poppins", sans-serif;
	cursor: pointer;
	width: 12rem;
}
/* Arrow */
.select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	background: #ff6f47;
	cursor: pointer;
	pointer-events: none;
}

/* Transition */
.select:hover::after {
	transform: scale(1.5);
}
