@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fraunces', serif;
    font-size: 1.3em;
    background-color: #f8dc81;
}

h2{
    text-align: center;
    padding: 20px;
    color: #214151;
    background-color: #a2d0c1;
}

.container{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background: #a2d0c1;
    
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    display: flex;
}

.entrada{
    padding: 10px;
    outline: none;
    border: none;
    width: 60%;
    margin-right: 10px;
}

.boton{
    padding: 10px;
    outline: none;
    border: none;
    transition: .3s;
    cursor: pointer;
    width: 40%;
}

.boton:hover{
    background: #214151;
    color: #fff;
    transform: translateY(-5px);
}

.entrada, .boton{
    border-radius: 5px;
}

.res{
    background: #214151;
    color: #a2d0c1;
    width: 400px;
    text-align: center;
    padding: 10px;
    display: none;
    transition: .3s;
    animation: crackAnimation 1s;
    font-size: 2em;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 30%;
    left: 50%;
    border-radius: 5px;
}

@keyframes crackAnimation{
    0%{
        opacity: 0;
        left: -50%;
    }
}