@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: rgb(172, 20, 172);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#encabezadoCiudad{
    margin-bottom: 10px;
}

#descripcionClima{
    font-size: 1.3em;
    margin-bottom: 10px;
}

#velocidadViento{
    margin-bottom: 10px;
}

#contenedorClima{
    background: rgba(31, 166, 255, 0.356);
    box-shadow: 1px 1px 5px #000;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    width: 400px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    display: none;
}

#contenedorBusqueda{
    padding: 20px;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

#contenedorBusqueda input{
    padding: 10px;
    border: none;
    text-transform: uppercase;
    width: 300px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;;
}

#contenedorBusqueda button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s;
    outline: none;
}

#contenedorBusqueda button:hover{
    background: #000;
    color: #fff;
}

#temperatura{
    font-size: 2em;
}

.swipe{
    display: flex;
    width: 80px;
    margin: auto;
}