@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-size: 1.3em;
    font-family: 'Fraunces', serif;
    background: #fcbf49;
    overflow: hidden;
}

#container{
    background: #fff;
    color: #999;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.flexStyle{
    display: flex;
    justify-content: space-around;
}

hr{
    border: 1px dashed #999;
    margin: 20px 10px;
}

#numero{
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    user-select: none;
    font-weight: bold;
}

#btn1, #btn2{
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
    color: #999;
    background: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 50%;
}

#btn1:hover, #btn2:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#btn1:hover{
    background: green;
    color: #fff;
}

#btn2:hover{
    background: red;
    color: #fff;
}

.animation{
    animation: animation .3s;
}

.animation2{
    animation: animation2 .3s;
}

@keyframes animation{
    0%{
        transform: rotate(-180deg) scale(5.3) skew(30deg);
        
    }

    80%{
        opacity: 0.5;
    }
}

@keyframes animation2{
    0%{
        transform: rotate(180deg) scale(5.3) skew(-30deg);
    }

    80%{
        opacity: 0.5;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }