* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: midnightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
	font-family: "Lato", sans-serif;
}

.search {
	position: relative;
}

.search .input {
	background-color: white;
	padding: 8px 16px;
	font-size: 15px;
	color: midnightblue;
	border: none;
	width: 48px;
	height: 48px;
	transition: width 0.3s ease;
}

.btn {
	background-color: white;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	border: none;
	transition: transform 0.3s ease;
}

.btn:focus,
input:focus {
	outline: none;
}

.search.active .input {
	width: 360px;
}

.search.active .btn {
	transform: translateX(360px);
}
