* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
	background-color: #b8c6db;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.quiz-container {
	background-color: #fff;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	width: 480px;
	overflow: hidden;
	border-radius: 8px;
}

.quiz-header {
	padding: 4rem;
}

h3 {
	padding: 1rem;
	margin-left: -10px;
	/* text-align: center; */
}

ul {
	list-style-type: none;
}

ul li {
	font-size: 1rem;
	margin: 1rem 0;
}

ul li label {
	cursor: pointer;
}

button {
	background-color: #000397;
	color: white;
	display: block;
	border: none;
	width: 100%;
	font-size: 1.2rem;
	font-family: inherit;
	padding: 1.2rem;
}

button:hover {
	background-color: #0003c4;
}

.button:focus {
	outline: none;
	background-color: #00039e;
}
