body {
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    }
    button {
    color: #fff;
    border: 2px solid #fff;
    padding: 6px 12px;
    margin: 0 4px;
    outline: 0;
    border-radius: 4px;
    }
    button:hover {
    background-color: #fff;
    color: rgba(0,0,0,.6);
    }
    button:focus {
    outline: 0;
    }
    textarea {
    opacity: 0;
    position: absolute;
    top: -9999999px;
    left: -9999999px;
    }