@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  transition: .4s;
  
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  
}