@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap');

/* Variables de color */

:root{
    --color__1: #2AB7CA;
    --color__2: #FE4A49;
}

*{
    box-sizing: border-box;
}

body{
    font-size: 1.3em;
    font-family: 'Fraunces', serif;
    background: #FED766;
}

/* Contenedor principal de la aplicación */

#container{
    background: #F4F4F8;
    color: #999;
    width: 200px;
    border-radius: 25px;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Hace que los botones esten lado a lado */

.flexStyle{
    display: flex;
    justify-content: space-around;
}

#numero{
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    user-select: none;
    font-weight: bold;
}

/* Estilos de los botones */

#boton1, #boton2{
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
    color: #999;
    background: #e0e0e0;
    width: 50%;
}

#boton1:hover{
    background: var(--color__1);
    color: #fff;
}

#boton2:hover{
    background: var(--color__2);
    color: #000;
}

/* Animaciones */

.animacion{
    animation: animacion .1s;
}

.animacion2{
    animation: animacion2 .1s;
}

@keyframes animacion{
    50%{
        transform: scale(1.5);
        
    }
}

@keyframes animacion2{
    50%{
        transform: scale(1.5)
        
    }
}