@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    color: #000;
    background: #009FB7;
    font-family: 'Quicksand', sans-serif;
}

h1{
    text-align: center;
    margin: 120px;
    color: #F4F4F8;
    font-size: 2.5em;
}

.contenedor{
    background: #fff;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.name{
    color: #FED766;
}

.name4{
    font-size: 1.3em;
    letter-spacing: 1px;
}

.name3 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    color: #FE4A49;
}

#input1 {
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 2px;
    border: none;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #FE4A49;
    border-radius: 5px;
}
 
#button1 {
    background: #FE4A49;
    color: #F4F4F8;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

#button1:hover{
    background:#1A5E63;
    color: #F4F4F8;
}
    
#div1 {
    padding: 20px;
    font-weight: 500;
}
    
#div2 {
    display: none;
    padding: 20px;
    background: #F4F4F8;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}