* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Avenir", sans-serif;
	background-color: #eee;
}

header {
	background-color: rgb(43, 63, 43);
	color: white;
}

.header-items {
	height: 80px;
	padding: 0 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

form {
	display: flex;
	align-items: center;
}

.header-items input {
	padding: 0.5rem 1rem;
	border-radius: 20px;
	border: none;
	font-size: 1rem;
	outline: none;
}

.header-item input:focus {
	background-color: rgb(43, 63, 43);
	color: white;
}

button {
	background: transparent;
	border: none;
	margin-left: 4px;
}

ion-icon {
	background: white;
	font-size: 1.3rem;
	padding: 0.5rem;
	border-radius: 50%;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1rem 0.5rem;
	max-width: 94%;
	margin: 2rem auto;
}

.character {
	width: 300px;
	height: 360px;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	border-radius: 4px;
}

.character-info {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 100%;
	transform: translateY(101%);
	transition: transform 0.3s ease-in;
	z-index: 10;
}

.character:hover {
	transform: translateY(0);
}

.character img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.character-info span {
	background-color: rgb(134, 134, 134);
	padding: 0.25rem 0.5rem;
	border-radius: 20px;
	color: white;
}

.character-info span.purple {
	background-color: purple;
}

.character-info span.red {
	background-color: rgb(209, 0, 0);
}

.character-info span.green {
	background-color: green;
}
