*
{
    margin: 0;
    padding: 0;
  overflow: hidden;
}

html,body
{
    width: 100%;
    height: 100%;
}

body
{
    font-family: arial;
    background-image: url(https://www.teahub.io/photos/full/8-80224_blur-image-for-youtube.jpg);
    background-size: cover;
}

.container
{
    padding-top: 1px;
}

.main_div_container
{
    width: 370px;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    padding-top: 1px;
    border-radius: 10px;
    background-color: #000;
    box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.5);
}

.main_screen_container
{
    width: 350px;
    height: 480px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMHRoZW1lfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-size: cover;
    overflow: hidden;
}

.hading_container
{
    background: #fff;
    text-align: center;
    padding: 5px 0;
}

.user_input_container
{
    width: 95%;
    padding: 20px 5px;
    color: #fff;
    font-size: 20px;
}

.dob_tile,.date_tile
{
    width: 47%;
    display: inline-block;
    vertical-align: top;
}

#date,#today_date
{
    width: 48%;
    height: 20px;
    padding: 5px;
    border: none;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
}


.btn
{
    width: 120px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 32%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #ff4e00;
    border: 2px solid #ff4e00;
    box-shadow: 0px 0px 10px rgba(0, 0, 100, 0.2), inset 0px 0px 10px rgba(0, 0, 100, 0.2);
    transition: all 0.2s;
}

.btn:hover
{
    box-shadow: 0px 0px 10px rgba(0, 0, 100, 0.4), inset 0px 0px 10px rgba(0, 0, 100, 0.2);
}

.btn:active
{
    box-shadow: 0px 0px 10px rgba(0, 0, 100, 0.2), inset 0px 0px 10px rgba(0, 0, 100, 0.4);
    transform: scale(0.99);
}


/********************************/

.age_main_big_container
{
    width: 94.5%;
    height: 160px;
    margin-top: 30px;
    border: 1px solid #ff4e00;
    padding: 10px 2.5%;
    font-weight: bold;
}

.left_side_div_age_list,.right_side_div_age_list
{
    width: 49.1%;
    height: 100%;/*
    background: green;*/
    color: #fff;
    border: 1px solid #ff4e00;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.7);
}

.left_side_div_age_list div:nth-child(1)
{
    font-size: 30px;
    padding: 10px;
}

.left_side_div_age_list div:nth-child(2)
{
    margin: 0;
}

.left_side_div_age_list div:nth-child(3)
{
    margin: 20px 4px;
    opacity: 0;
    transition: all 0.2s;
}

.right_side_div_age_list
{
    text-align: center;
}

.right_side_div_age_list div:nth-child(1)
{
    color: #ff4e00;
    padding: 10px 0;
}

.right_side_div_age_list #n_b
{
    margin-top: 26px;
    opacity: 0;
    transition: all 0.2s;
}

.right_side_div_age_list img
{
    width: 50px;
}

#year
{
    font-size: 40px;
    color: #ff4e00;
    margin: 10px;
    margin-right: 15px;
}

#month
{

}

#day
{

}