* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(236, 249, 255);
	font-family: "Lato", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h3 {
	margin-bottom: 5rem;
	text-transform: uppercase;
}

.range-container {
	position: relative;
}

input[type="range"] {
	width: 640px;
	margin: 18px 0;
	-webkit-appearance: none;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"] + label {
	background-color: white;
	position: absolute;
	top: -25px;
	left: 300px;
	width: 40px;
	padding: 4px 0;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/*chrome and safari */
input[type="range"]::-webkit-slider-runnable-track {
	background: red;
	border-radius: 4px;
	width: 100%;
	height: 10px;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-color: white;
	margin-top: -8px;
    border: 1px solid red;
    cursor: pointer;
}

/*firefox */
input[type="range"]::-moz-range-track {
	background: red;
	border-radius: 4px;
	width: 100%;
	height: 10px;
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	-moz-appearance: none;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-color: white;
	margin-top: -8px;
    border: 1px solid red;
    cursor: pointer;
}
