@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--color-pink-1: #ED73C8;
	--color-pink-2: #FF6B96;
}

body {
	background: linear-gradient(to right, var(--color-pink-1), var(--color-pink-2));

	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	overflow: hidden;
	min-height: 100vh;
}

.contact-container {
	background-color: #fff;
	border: 3px solid #000;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 70px;
	text-align: center;
	width: 600px;
	max-width: 100%;
}

.contact-container h2 {
	margin: 0 0 10px;
	opacity: 0.8;
}

.contact-container p {
	opacity: 0.7;
	letter-spacing: 0.5px;
	line-height: 24px;
}

.contact-container form {
	width: 450px;
	max-width: 100%;
}

.contact-container .wrapper {
	position: relative;
	margin: 10px 0;
	height: 44px;
	width: 100%;
}

.contact-container .wrapper-big {
	height: 80px;
}

.contact-container input, .contact-container textarea {
	border: none;
	border-radius: 4px;
	font-family: 'Muli';
	font-size: 14px;
	padding: 12px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.contact-container input:focus, .contact-container textarea:focus {
	outline: 0;
}

.contact-container input:focus + .gradient-bg, .contact-container textarea:focus + .gradient-bg {
	background: linear-gradient(to right, var(--color-pink-1), var(--color-pink-2));
}

.contact-container .gradient-bg {
	background: #999;
	border-radius: 4px;
	position: absolute;
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	z-index: 9;
}

.contact-container button {
	background: linear-gradient(to right, var(--color-pink-1), var(--color-pink-2));
	border: none;
	border-radius: 4px;
	box-shadow: 0 3px 5px rgba(237, 115, 200, 0.5);
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 12px;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.contact-container {
		padding: 20px 30px;
	}
}

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}